/*

  Base
  +

*/

body{
  font-family: $font-stack;
  font-size: $base-font-size;
  line-height: 160%;
  color: $black;
  overflow-x: hidden;
  font-weight: 300;
  background: $offwhite;
  text-align: left;
}
  margin: 0;
  font: 14px/20px sans-serif;
  color: $color-primary;
}