/*

  Variables
  +

*/

// Colours
//Black
$black: #000;
$medium-black: #1d1d1d;

// - Currently using as Primary colour
$rich-black: #0C1618;

//Gray
$darker-gray: #272727;
$dark-gray:#101010;
$medium-gray: #888;
$gray: #e3e3e3;
$light-gray: #d1d1d1;

//Green
// - Currently using as Secondary colour
$forest: #004643;
$midforest: #325e1c;
$midgreen: #108441;
$mint: #86b59a;

//White
$white: #fff;

// - Currently using as primary text colour
$offwhite: #f7f7fa;
$lightwhite: #e8e8e8;

// - Currently using as secondary text colour
$cream: #FAF4D3; 

//Yellow
$gold: #D1AC00;
$yellow: #e09600;
$lightyellow: #f4daa6;

//Red
$deep-red: #a51b00;
$soft-red: #dc535b;
$medium-red: #c9373f;
$light-red: #f9c9bf;

//Brown
$bronze: #734c00;

//Pink
$pink: #fc466b;

$peach: #F6BE9A;

//Blue
$navy: #001659;
$lightblue: #435a6b;
$oceanblue: #008ee6;

//orange
$orange: #ff5e14;
$lightorange: #e09600;
// Base
$base-font-size: 16px;
$base-line-height: 1.7;
$color-primary: $rich-black;
$color-secondary: $forest;

//Links
$linkColor: $forest;
$linkColorHover: $gold;

//Google font - poppins
@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap);

//Typekit font

//Fonts
$font-stack: 'Poppins',Helvetica, sans-serif;


// Weights
$hairline-weight: 100;
$thin-weight:     200;
$light-weight:    300;
$normal-weight:   400;
$medium-weight:   500;
$semibold-weight: 600;
$bold-weight:     700;
$xbold-weight:    800;
$black-weight:    900;

//Text Transform
$text-cap: capitalize; 
$text-lower: lowercase;
$text-upper: uppercase;
$text-none: none;


//Headings  
// Header
$header-bgColor: $rich-black;
$header-txtColor: $offwhite;

//Section
$section-color: $peach;

//Navigation
//menu
$desktop-menuColor: $forest;
$desktop-menuHover: $gold;
$desktop-menuDDbg: $forest;
$desktop-menuDDTxt: $cream;
$desktop-menuDDHover: $gold;

$mobile-menubg:rgba($black,.80);
$mobile-menuColor: $cream;
$mobile-menuHover: $gold;
$mobile-menuDDbg: '';
$mobile-menuDDTxt: '';
$mobile-menuDDHover: '';

//Borders
$border-Color: $lightwhite;