/*

  Variables
  +

*/

// Colours
//Black
$black: #000;
$medium-black: #1d1d1d;

// - Currently using as Primary colour
$rich-black: #0C1618;

$darker-gray: #272727;
$dark-gray:#101010;
$medium-gray: #888;
$light-gray: #d1d1d1;

//White
$white: #fff;
$offwhite: #f7f7fa;
$lightwhite: #e8e8e8;

//Red
$soft-red: #dc535b;
$medium-red: #c9373f;

//Pink
$pink: #fc466b;

//Blue
$navy: #001659;
$lightblue: #435a6b;

//orange
$orange: #ff5e14;

// Base
$base-font-size: 14px;
$base-line-height: 1.7;
$color-primary: $black;

//Google font - poppins
@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap);

//Typekit font

//Fonts
$font-stack: 'Poppins',Helvetica, sans-serif;


// Weights
$hairline-weight: 100;
$thin-weight:     200;
$light-weight:    300;
$normal-weight:   400;
$medium-weight:   500;
$semibold-weight: 600;
$bold-weight:     700;
$xbold-weight:    800;
$black-weight:    900;

//Text Transform
$text-cap: capitalize; 
$text-lower: lowercase;
$text-upper: uppercase;
$text-none: none;


//Headings  
// Header
$header-bgColour: $black;
$header-txtColour: $white;

//Section
$section-colour: $pink;

//Navigation
//menu
$desktop-menuColour: $navy;
$desktop-menuHover: $orange;
$desktop-menuDDbg: $white;
$desktop-menuDDTxt: $navy;
$desktop-menuDDHover: $orange;

$mobile-menubg:rgba($black,.80);
$mobile-menuColour: $white;
$mobile-menuHover: $white;
$mobile-menuDDbg: '';
$mobile-menuDDTxt: '';
$mobile-menuDDHover: '';

//Borders
$border-Colour: $lightwhite;