/*

  Message
  +

*/


//Messages
.messages {
    background: no-repeat 10px 17px; 
    border: 1px solid;
    border-width: 1px 1px 1px 0;
    border-radius: 2px;
    padding: 10px 20px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    margin: 5px 0;
  }
  
  .messages + .messages {
    margin-top: 1.538em;
  }
  
  .messages__list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .messages__item + .messages__item {
    margin-top: 0.769em;
  }
  
  // Successful message
  .messages--status {
    color:$midforest;
    background-color: $white;
    border-color: $mint transparent;
    box-shadow: none; 
  }
  
  // Warning message
  .messages--warning {
    background: $cream;
    border-color: $lightyellow transparent;
    color: $bronze;
    box-shadow: -8px 0 0 $lightorange; 
  }
  
  // Error message
  .messages--error {
    background-color: $white;
    color: $deep-red;
    border-color: $light-red;
  
    p.error{
      color: $deep-red;
    }
  }
  