/*

  Navigation
  +

*/


/*Menu*/

.navbar-toggle{
	cursor: pointer;
	float: right;
	background: none;
	border: 0;
	padding: 28px 15px 0 0;

	&:focus{
		outline: none;
	}

	.fas{
		font-size: 2em;
		color: $white;
		border: 0;
		box-shadow: none;
	}
}

.navbar-toggle-close{
	position: absolute;
    right: 0;
    padding: 18px;
    font-size: 2em;
    color: $cream;
    cursor: pointer;
    z-index: 99;
}

.navbar-default {
	.navbar-toggle{
  		z-index: 999;
		margin-right: 0;
		border: 0;
		border-radius: 0;
		color: $white;
		background: none;
		padding: 6px;

		.icon-bar {
			display: block;
			width: 35px;
			height: 4px;
			border-radius: 1px;
			background: $dark-gray;
		}
		&:focus, &:hover{
 			background: none;
		}
	}
}

nav h2{
	display: none;
}

.menu-base-theme{
	background: none;

	ul{
	}
	li{
		display: inline-block;
		float: none;
		a{
			font-family: $font-stack;
			color: $white;
			font-size: 1.1em;
			line-height: 3.55em;

			&:hover, 
			&:focus, 
			&:active, 
			&.highlighted{
				background: none;
				color: $desktop-menuHover;
				line-height: 100%;
				// padding: 24px 28px;
				transition: color ease-in 0.5s;
			}
			&.has-submenu{
				padding-right: 35px;
			}
			&.sub-arrow{
				color: $medium-gray;
				@include fontSize(22px);
				padding: 5px;
				border-radius: 2px;
				border: 1px solid $light-gray;
				background: $offwhite;
			}
			span.sub-arrow{
				line-height: 120%;
				font-size: 2em;
			}
		} 
	}
}

.region-primary-menu{
	height: 87px;
	width: 100%;
    background: $mobile-menubg;
    margin-bottom: 15px;
    border-radius: 0px;
    position: fixed;
    top: 0;
    left: -100%;
    right: 100%;
    bottom: 0;
    width: auto;
    z-index: 99;
	transition: all .5s;

    &.expand{
    	left: 0;
    	right: 10%;
    }
}

// Admin Menu
#block-flywheel-drupal-theme-account-menu{
	ul{
		li{
			display: inline;
			padding: 0 5px;
		}

		a{
			color: $mint;
		}
		margin-bottom: 0;
	}

}
// Footer Menu
.region-footer-menu{	
	ul{
		margin: 10px 0;
		padding: 0;
	}
	nav li{
		display: inline-block;
		a{
			display: block;
			padding: 2px 15px 2px 0;
		}
	}
}

// Top Menu
.top-menu{
	font-size: .75em;
	background: $forest;
	color: $white;

	.top-blocks{
		overflow: hidden;

		.region {
			padding: 10px 10px 10px 0;
		}
		.social-media{
			padding: 9px 0;
		}
	}
	p, .block {
		margin: 0;
	}
	a{
		color: $white;
	}
}

.region-top-menu{
	ul{
		margin: 0;
		padding: 0;
	}
	nav li{
		display: inline-block;
		a{
		    padding: 2px 10px; 
		    text-transform: uppercase;
		    line-height: 100%;
		}
	}
}