/*

  Sidebar
  +

*/

// Sidebar Block
.sidebar{
	border: 1px $forest solid;
    padding: 15px;
	border-radius: 4px;

	.region {
		h2.title{
			padding: 5px 0;
			margin: 0;
			font-size: 1.2em;
		}
		.content{ padding: 10px 0; }
	}
}

.region-content{
    min-height: 300px;
}

.path-frontpage{
	.region-content{
	    min-height: auto;
	}
}

