/*

  Pages
  +

*/

.updates,
.topwidget,
.top-message,
.footer,
.bottom-widget,
.path-frontpage .main-content,
.services,
.products,
.features,
.copyright,
.clients{
	padding: 20px 0;
}

// User Login Form
.user-login-form,
.user-form,
.user-pass{
	max-width: 500px;
    margin: 40px auto;
    border: 1px solid  $offwhite;
    padding: 5px 20px;
    background: $white;

	.form-text,
	.form-email{
		width: 100%;
	}
}

.form-composite > .fieldset-wrapper > .description, 
.form-item .description {
	color: $medium-gray;
	font-style: italic;
}

// Maintenance
.maintenance-page{
	color: $white;
	text-align: center;
	padding-top: 220px;
	padding-bottom: 100px;
	color: $black;

	.brand,
	.name-and-slogan{
		display: inline-block;
		vertical-align: middle;
	}
	.site-name a{
		color: #404040;
	}
	.site-slogan,
	.name-and-slogan{
		display: none;
	}
}

.maintenance-msg {
	margin: 20px 0;
	padding: 20px 30px;
	display: inline-block;
	color: $dark-gray;
	border: 1px solid $white;
	background: rgb(242, 244, 207);
	background: rgba(242, 244, 207, 0.88);
	box-shadow: 5px 5px 0 $white;

 	h1{
	  text-transform: uppercase;
	  font-weight: bold;
	}
}

// Profile Page
.path-user{
	.profile {
		> div{
			display: inline-block;
		}
		.label{
		  display: block;
		  color:$dark-gray;
		}
	}
}